.item {
    background-color: #a4c3b2;
    border-radius: 5px;
    border: 1px solid #6b9080;
    color: #f6fff8;
}

.item__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.photo {
	position: relative;
    height: 150px;
    width: 100%;
}

.picture {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 16px;
}
